#popup {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    z-index: 2;
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    backdrop-filter:blur(6px);

}

select option{
    background-color:white;
    color:black;
    font-weight:bold;
    padding:10px;
}

